<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Learn vue</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container" id="app">
      <h1 v-bind:title="title">{{message}}</h1>
      <ul>
        <li v-for="count in number">number {{count}}</li>
      </ul>
      <ul>
        <li style="list-style-type:none" v-for="count in datas">{{count.id}}-{{count.text}}</li>
      </ul>
    </div>
  </body>
  <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
  <script type="text/javascript">
    var app = new Vue({
      el: "#app",
      data: {
        message: "Hello world",
        title: "Do you see me on " + new Date() + " ?",
        number: 10,
        datas: [
          {text:"gurih", id:2451},
          {text:"legit", id:3154},
          {text:"enak", id:9967}
        ]
      }
    })
  </script>
</html>
